:root{
	/**
	 * Spacing
	 */
	--form-row-margin-t: 0.5rem;
	--form-row-margin-b: 2rem;
	--form-control-padding-t: 1.2rem;
	--form-control-padding-r: 0.7rem;
	--form-control-padding-b: 0.2rem;
	--form-control-padding-l: 0.7rem;
	--form-control-padding: var(--form-control-padding-t) var(--form-control-padding-r) var(--form-control-padding-b) var(--form-control-padding-l);
	--form-control-min-height: 2.9rem;

	/**
	 * Borders
	 */
	--form-control-border-radius: .25rem .25rem 0 0;
	--form-control-border-color: gainsboro;
	--form-control-border: 0;
	--form-control-border-color-focused: var(--primary);
}

/**
 * Label
 */
$form-label-position: absolute !default;
$form-label-position-t: 0.75rem !default;
$form-label-position-l: var(--form-control-padding-l);
$form-label-focused-font-size: 75% !default;
$form-label-focused-font-weight: 700 !default;
$form-label-focused-position-t: 0.1rem !default;
$form-label-focused-position-l: 0.7rem !default;
$form-label-select-buttons-position-t: - 1.4rem !default;
$form-label-select-buttons-focused-position-t: - 1.3rem !default;
$form-label-editor-position-t: 2.4rem + $form-label-position-t !default;
$form-label-editor-focused-position-t: 2.4rem + $form-label-focused-position-t !default;
$form-label-trix-position-t: 1.6rem + $form-label-position-t !default;
$form-label-trix-focused-position-t: 1.6rem + $form-label-focused-position-t !default;

/**
 * Borders
 */
$form-control-border-bottom: 1px solid var(--form-control-border-color) !default;
$form-control-border-expanding: 0.125rem !default;