:root{
	/**
	 * Spacing
	 */
	--form-row-margin-t: 1rem;
	--form-row-margin-b: 1.5rem;
	--form-control-padding-t: 0.6rem;
	--form-control-padding-r: 0.8rem;
	--form-control-padding-b: 0.6rem;
	--form-control-padding-l: 0.8rem;
	--form-control-padding: var(--form-control-padding-t) var(--form-control-padding-r) var(--form-control-padding-b) var(--form-control-padding-l);
	--form-control-min-height: 2.7rem;

	/**
	 * Borders
	 */
	--form-control-border-radius: .25rem;
	--form-control-border-color: gainsboro;
	--form-control-border: 1px solid var(--form-control-border-color);
	--form-control-border-color-focused: var(--form-primary-color);
}

/**
 * Label
 */
$form-label-position: absolute !default;
$form-label-position-t: 0.75rem !default;
$form-label-position-l: var(--form-control-padding-l);
$form-label-focused-font-size: 80% !default;
$form-label-focused-position-t: -0.5rem !default;
$form-label-focused-position-l: 0.7rem !default;
$form-label-focused-color: var(--form-control-bg);
$form-label-icon-focused-position-l: $form-label-focused-position-l !default;
$form-label-select-buttons-position-t: - 1.4rem !default;
$form-label-select-buttons-focused-position-t: $form-label-select-buttons-position-t !default;
$form-label-editor-position-t: 2.4rem + $form-label-position-t !default;
$form-label-editor-focused-position-t: $form-label-focused-position-t !default;
$form-label-trix-position-t: 1.6rem + $form-label-position-t !default;
$form-label-trix-focused-position-t: $form-label-focused-position-t !default;

/**
 * Borders
 */
$form-control-border-width-focused: 2px !default;
$form-control-box-sizing: border-box !default;