.vlFile{
    input{
    	opacity: 0;
    	position: absolute;
	    cursor: pointer;
	    z-index: 1;
		line-height: 1.15; //not working on Firefox
		width: 100%; //otherwise it was overflowing
	}
	.vlCustomLabel{
		.icon-times{
			z-index: 2; //above the input
		}
	}
	&:not(.vlDirtyField){
		.vlSingle{
			color: var(--form-control-placeholder-color);
		}
	}
}