.vlImage{
	.vlFormControl{
	    height: 7.9rem;
	    padding: var(--form-control-padding-t); //same padding everywhere for images
	    position: relative;

	    input[type=file]{
	    	opacity: 0; /* invisible but it's there! */
		    width: 100%;
		    height: 7.9rem;
		    @extend .absolute, .inset-0;
		    cursor: pointer;
		    //z-index: 5;
	    }
	}
	&.vlDirtyField{
		.vlFormControl{
			height: auto;
		}
		.vlImageMsg{
			i{
				display: none;
			}
		}
		&:hover{
			.vlImageMsg{
				.icon-times{
					display: block;
					z-index: 5;
				}
			}
		}
	}
}
.k-rounded-image{
	.vlInputWrapper{
		border-radius: 50%;
		overflow: hidden;
	}
	.vlFormControl{
		padding: 0;
		height: auto;
	}
}
.vlImageMsg{
	@extend .absolute, .inset-0, .flex-center;
	line-height: 1.1rem;
	color: var(--form-control-placeholder-color);
    i{
    	font-size: 2rem;
    	cursor: pointer;
    }
    span{
	    font-size: 90%;
		font-weight: 700;
	}
}