.vlAlertWrapper{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}
.vlAlert{
    padding: 1rem;
    padding-right: 2rem;
    border-radius: 0.75rem;
    position: relative;
    display: flex;
    align-items: center;
    color: var(--primary);
    border: 1px solid;
    border-color: var(--primary);
    margin-top: 0.5rem;
    >i{
        padding-right: 0.5rem;
    }
}
.vlAlertClose{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
}
.vlAlertSuccess{
    color: #104015;
    background-color: #1fe5346e;
    border-color: #19c72c96;
}
.vlAlertError{
    color: #660f0f;
    background-color: #fb9292cf;
    border-color: #eb9999;
}

.alert-enter,.alert-leave-active {
    opacity: 0;
}

.alert-enter .vlModalContainer,
.alert-leave-active .vlModalContainer {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}