/**
 * Display styles
 */
.vlBtn, .vlLink{
	cursor: pointer;
	display: inline-flex;
	align-items: center;

	border-radius: var(--btn-border-radius);
}
.vlBtn{
	justify-content: center; //Only buttons are centered	
}
button.vlBtn, a.vlBtn, a.vlLink{ //i had to go 2 levels deep because of normalize adding outline
	&:focus{
		outline: 0;
		box-shadow: var(--focus-box-shadow);
	}
}
.vlBtn{ 
	padding: var(--btn-padding-y) var(--btn-padding-x);
}
.vlBtnBlock{
	display: flex;
	width: 100%;
}
.vlBtnInline{
	display: inline-flex;
	width: auto;
}

/**
 * Initial link styles
 */
.vlLink{
	color: var(--primary);
	&:hover{
		color: var(--primary-darker);
	}
}
/**
 * Initial button styles
 */
.vlBtn, a.vlBtn{
	background-color: var(--primary);
	color: #fff;
	user-select: none;
	&:hover{
		background-color: var(--primary-darker);
		color: #fff; //to remain white if it is a link with .vlBtn
	}
}

/**
 * Outlined buttons
 */
.vlBtnOutlined, a.vlBtnOutlined{
	background-color: transparent;
	border: 1px solid var(--primary);
	color: var(--primary);
	&:hover{
		background-color: transparent;
		color: var(--primary-darker);
		border: 1px solid var(--primary-darker);
	}
}

/**
 * Plain buttons
 */
.vlBtnPlain, a.vlBtnPlain{
	background-color: transparent;
	border: 0;
	color: var(--primary);
	&:hover{
		background-color: transparent;
		color: var(--primary-darker);
	}
}

/**
 * Secondary extension - TODO: probably deprecate - unnecessary
 */
.vlLink.vlSecondary{
	color: var(--secondary);
	&:hover{
		color: var(--secondary-darker);
	}
}
.vlBtn.vlSecondary, a.vlBtn.vlSecondary{
	background-color: var(--secondary);
	color: #fff;
	user-select: none;
	&:hover{
		background-color: var(--secondary-darker);
		color: #fff; //to remain white if it is a link with .vlBtn
	}
}
.vlBtnOutlined.vlSecondary, a.vlBtnOutlined.vlSecondary{
	background-color: transparent;
	border: 1px solid var(--secondary);
	color: var(--secondary);
	&:hover{
		background-color: transparent;
		color: var(--secondary-darker);
		border: 1px solid var(--secondary-darker);
	}
}
.vlBtnPlain.vlSecondary, a.vlBtnPlain.vlSecondary{
	background-color: transparent;
	border: 0;
	color: var(--secondary);
	&:hover{
		background-color: transparent;
		color: var(--secondary-darker);
	}
}

/**
 * Link utilities
 */
.vlEditLink{
	label{
		cursor: pointer; //TODO: remove the need for label in Links...
	}
}