.vlClock {
    width: 6vw;
    height: 6vw;
    min-width: 6rem;
    min-height: 6rem;
    border-radius: 100%;
    position: relative;
    padding: 0.5rem;
    border: 2px solid white;
}

.vl-hand {
    width: 40%;
    height: 2%;
    top: 49%;
    left: 10%;
    background: white;
    position: absolute;
    transform-origin: 100%;
    transform: rotate(90deg);
    border-radius: 15%;
}
.vl-hand-hour{
    width: 28%;
    left: 22%;
    height: 4%;
    top: 48%;
}
.vl-hand-minute{
    height: 4%;
    top: 48%;
}
.vl-center-knob{
    background: white;
    border-radius: 50%;
    top: 0;bottom: 0;left: 0;right: 0;
    margin: 46%;
    height: 8%;
}