@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;       
          box-shadow: $shadow;
}

@mixin transform($transform...) {
	-moz-transform: $transform;  
	-o-transform: $transform;  
	-webkit-transform: $transform;  
	-ms-transform: $transform;  
	transform: $transform;
}

@mixin tag(){
	display: inline-flex;
	border-radius: 0.25rem;
    padding: 0.15rem 0.2rem;
}