/* Modals */
.vlModalClose{
    position:fixed;
    top: 0.5rem;
    right: 0.75rem;
    text-shadow: 0 5px 8px black;
    color: white;
    cursor: pointer;
    font-size: 3rem;
}
.vlModalBtn{
    position: fixed;
    top: 48vh;
    cursor: pointer;
    font-size: 3rem;
    text-shadow: 0 5px 8px black;
    color: white;
    &.icon-chevron-left{
        left: 20px;
    }
    &.icon-chevron-right{
        right: 20px;
    }
}
.kompoModal {
    max-height: 98vh;
    max-width: 98vw;
    /*overflow-y: auto;
    overflow-x: hidden;
    @extend .mini-scroll !optional;*/
    border-radius: 0.5rem;
    background-color: var(--body-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    text-align: left;
}