.vlFormPanel{
    position: relative;
}
.vlPanelClose{
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 100;;
    font-size: 1.5rem;
    color: white;
    text-shadow: 0 0 5px var(--primary-light);
    .icon-times{
        color: var(--primary-dark);
    }    
}