.vlTag{
	background-color: var(--tags-color);
	color: white;
	font-weight: 700;
	@include tag();
}

.vlTagOutlined{
	border-color: var(--tags-color);
	border-width: 1px;
	color: var(--tags-color);
	@include tag();
}