/*********** fadeIn ************/
.fadeIn-enter,.fadeIn-leave-to {
    opacity: 0;
}

.fadeIn-enter-active {
    transition: opacity .2s ease;
}

/*********** modal ****************/
.modal-enter .kompoModal{
    transform: scale(0);
    transform: translateY(100px);
}
.modal-enter-to .kompoModal{
    transform: scale(1);
    transform: translateY(0);
}
.modal-enter-active .kompoModal{
    transition: all .3s ease;
}
.modal-leave .kompoModal{
    transform: scale(1);
    transform: translateY(0);
}
.modal-leave-to .kompoModal{
    transform: scale(0);
    transform: translateY(100px);
}
.modal-leave-active .kompoModal{
    transition: all .3s ease;
}

/*********** slideLeft ************/
.slideLeft-enter{
    transform: translateX(300px);
}
.slideLeft-enter-to{
    transform: translateX(0);
}
.slideLeft-enter-active{
    transition: all .3s ease;
}
.slideLeft-leave{
    transform: translateX(0);
}
.slideLeft-leave-to{
    transform: translateX(300px);
}
.slideLeft-leave-active{
    transition: all .3s ease;
}

/*********** slideDown ************/
.slideDown-enter, .slideDown-leave-to{
    opacity: 0;
    max-height: 0;
    transform: translateY(-100px);
}
.slideDown-enter-to, .slideDown-leave{
    opacity: 1;
    max-height: 100vh;
    transform: translateY(0);
}
.slideDown-enter-active, .slideDown-leave-active{
    transition: all .3s ease;
}