/*** variables ****/
:root {
	--btn-depth: 1px;
}

/*** style ****/
.vlBtn, a.vlBtn{
	background-clip: padding-box;
	border-bottom: calc(2 * var(--btn-depth)) solid var(--primary-dark);
	&:hover{
		border-top: var(--btn-depth) solid transparent;
		border-bottom: var(--btn-depth) solid var(--primary-dark);
	}
}