@import 'icons';
@import 'icons-svg';

@import "./balloon-css/balloon";

/**
 * Variables not yet able to remove from SASS
 */
$sidebar-breakpoint: md !default;

/**
 * CSS variables
 */
:root {
	--primary: #31475e;
	--primary-darker: #135064;
	--primary-lighter: #a9bbef;
	--secondary: #359678;
	--secondary-darker: #2d8066;

	--focus-box-shadow: 0 0 0.1rem 0.25rem #adc7cf;

	--btn-padding-x: 1rem;
	--btn-padding-y: 0.4rem;
	--btn-border-radius: 0.375rem;

	--tags-color: var(--primary);
	--tags-bg: var(--primary-lighter);

	--query-filters-spacing: 2rem;

	--sidebar-breakpoint: 768px;

	/**
	* Colors
	*/
	--form-primary-color: var(--primary);
	--form-field-error-color: #f56565;
	--form-control-bg: #fff;
	--form-control-placeholder-color: gainsboro;

	/**
	 * Icons
	 */
	--form-field-icon-color: gainsboro;

	/**
	 * Checkbox & Toggle
	 */
	--form-checkbox-height: 1.3rem;
	--form-toggle-height: 1.44rem;
	--form-toggle-width: 2.7rem;
}

[v-cloak] { display: none; }

@import 'Normalize';
@import 'BootstrapGridTable';

@import 'Mixins';
@import 'Shortcuts';
@import 'Transitions';

@import 'Tooltip';

@import 'ButtonLink';
@import 'Tabs';
@import 'Modal';
@import 'Drawer';
@import 'Popup';
@import 'Alert';
@import 'Badge';
@import 'Gallery';
@import 'Spinner';
@import 'Tags';