.vlCollapse{
    display: flex;
    //flex-direction: column; //moved to Vue for display bug
    .vlCollapseToggler{
        display: flex;
        justify-content: space-between; //moved to Vue for display bug
        text-align: left;
        align-items: center;        
        width: 100%;
        cursor: pointer;
        >a{            
            display: flex;
            align-items: center;
        }

        &.vlTogglerClosed .icon-down-dir{
            display: block;
            transform: rotate(90deg);
            z-index: 0; // for somee reason, transform rotate adds z-index...
            &:before{
                margin-left: 4px; //re-centering the rotated icon
            }
        }
    }
    .vlCollapseMenu{
        display: flex;
        flex-direction: column;
        width: 100%;
        &.vlMenuClosed{
            display: none;
        }
    }
}