.vlDropdown{
	position: relative;
	cursor: pointer;
	.icon-down{
		font-size: 70%;
		color: gainsboro;
	}
	&.vlForcedOpen>.vlDropdownMenu, &.vlOpenOnHover:hover>.vlDropdownMenu{
		transform: scale(1);
		opacity: 1;
	}
}
.vlDropdownToggler{
	display: flex;
	align-items: center;
    width: 100%;
    >a{            
		display: flex;
		align-items: center;
    }	
}
.vlDropdownMenu {
	position: absolute;
	left: 0;
	top: 100%;
	background-color: var(--body-color);
	z-index: 105; //higher than sidebar
	transform: scale(0);
	transition: all .2s ease-in-out;
	opacity: 0;
	transform-origin: top left;
	flex-direction: column;	
	&:not(.vlNoBorder){
		border: var(--form-control-border);
	}
	border-radius: var(--form-control-border-radius);
    &.vlMenuClosed{
        display: flex; //cancel mobile effect
    }
	&.vlDropdownMenuRight{
		left: auto;
		right: 0;
		transform-origin: top right;
	}
	&.vlDropdownMenuUpRight{
		left: auto;
		right: 0;
		top: auto;
		bottom: 100%;
	}
}