.vlDropdown{
	position: relative;
	cursor: pointer;
	.vlDropdownToggler{
		display: flex;
		justify-content: space-between;
		align-items: center;
        width: 100%;
        >a{            
			display: flex;
			align-items: center;
        }	
	}
	.icon-down{
		font-size: 70%;
		color: gainsboro;
	}
	.vl-nav-item{
		align-items: center;
	}
	&.vlOpenOnHover:hover>.vlDropdownMenu{
		transform: scale(1);
		opacity: 1;
	}
}
.vlDropdownMenu {
	position: absolute;
	left: 0;
	top: 100%;
	background-color: white;
	z-index: 105; //higher than sidebar
	transform: scale(0);
	transition: all .2s ease-in-out;
	opacity: 0;
	transform-origin: top left;
    &.vlMenuClosed{
        display: block; //cancel mobile effect
    }
	&.vlDropdownMenuRight{
		left: auto;
		right: 0;
		transform-origin: top right;
	}
	&.vlDropdownMenuUpRight{
		left: auto;
		right: 0;
		top: auto;
		bottom: 100%;
	}
}