.vl-dropdown{
	position: relative;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	.icon-down{
		font-size: 70%;
		color: gainsboro;
	}
	.vl-nav-item{
		align-items: center;
	}
	&:hover .vl-dropdown-menu{
		transform: scale(1);
		opacity: 1;
	}
}
.vl-dropdown-menu {
	position: absolute;
	left: 0;
	top: 100%;
	background-color: white;
	z-index: 105; //higher than sidebar
	transform: scale(0);
	transition: all .2s ease-in-out;
	opacity: 0;
	transform-origin: top left;
    &.vl-menu-closed{
        display: block; //cancel mobile effect
    }
	&.vl-dropdown-menu-right{
		left: auto;
		right: 0;
		transform-origin: top right;
	}
}