.vl-nav-search{
	position: relative;
	.vlSelect{
		width: 100%;
	}
	.vlTaggableInput{
		//align-items: baseline;
	}
	>div>.vlInputWrapper{ //to target only the first one...
		border: 0;
	}
	.vlOptions{
		position: absolute;
		top: calc(100% + 1rem); //add padding of nav-item
		left: 0;
		min-width: 300px;
		max-height: 300px;
		overflow-y: auto;
		@extend .mini-scroll !optional;
		background-color: white;
		.vlOption{
			padding: 0.25rem 0.75rem;
		}
	}
}