.VlCalendarMonth{
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    .flatpickr-calendar {
        width: 100%;
    }
    .flatpickr-days {width: 100%;}
    .dayContainer {
      width: 100%;
      min-width: none;
      max-width: none;
    }
    .flatpickr-rContainer{
        width: 100%;
    }
    .flatpickr-day{
        overflow: hidden;
        >div{
            position: absolute;
            top: 5px;
            right: 5px;
            border-radius: 50%;
            height: 0.3rem;
            width: 0.3rem;
            background-color: gray;
            >div{
                height: 100%;
                border-radius: 50%;
                margin-bottom: 2px;
            }
        }
    }
}
.vlEventsList{
    overflow-y: auto; 
}