.vlQuery{
	display: grid;
	grid-template-columns: auto minmax(0, 1fr) auto;
	grid-template-rows: auto auto minmax(0, 1fr) auto auto;
}

.vlFiltersLeft{
	grid-column: 1;
  	grid-row: 1 / 6;
  	margin-right: var(--query-filters-spacing);
}
.vlFiltersRight{
	grid-column: 3;
  	grid-row: 1 / 6;
  	margin-left: var(--query-filters-spacing);
}
.vlFiltersTop{
	grid-column: 2;
  	grid-row: 1;
}
.vlFiltersBottom{
	grid-column: 2;
  	grid-row: 5;
}
.vlPaginationT{
	grid-column: 2;
  	grid-row: 2;
	margin-bottom: 0.5rem;	
}
.vlPaginationB{
	grid-column: 2;
  	grid-row: 4;
	margin-top: 0.5rem;
}
.vlQueryWrapper{
	grid-column: 2;
  	grid-row: 3;
}

.vlQueryHorizontal{
	.vlFiltersLeft{
	  	grid-row: 2 / 5;
	}
	.vlFiltersRight{
	  	grid-row: 2 / 5;
	}
	.vlFiltersTop{
		grid-column: 1 / 4;
	}
	.vlFiltersBottom{
		grid-column: 1 / 4;
	}
}